<html>
    <head>
        <title>My First Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Janet's Blog</a></h1>
        </div>

        <div>
            <p>published: 09.01.2017, 11:30</p>
            <h2><a href="">My first post</a></h2>
            <p>ALways go with the choice that scares you because that will make you grow.</p>
        </div>

        <div>
            <p>published: 09.05.2017, 05:54</p>
            <h2><a href="">My second post</a></h2>
            <p>Every expert in a field was once a beginner</p>
        </div>
    </body>
</html>